In [4]:
import pandas as pd
import logging

# Log fayl manzili
log_path = r"C:\Users\Rasulbek907\Desktop\Project_MP\Log\data_loader.log"

# Log sozlamalari
logging.basicConfig(
    filename=log_path,
    filemode='a',  # Append mode
    format='%(asctime)s - %(levelname)s - %(message)s',
    level=logging.INFO
)

try:
    logging.info("CSV fayl o'qilmoqda:...")
    df = pd.read_csv(r"C:\Users\Rasulbek907\Desktop\Project_MP\Data\Enginered_Data\sml_multiclass_dataset.csv")
    logging.info(f"Fayl muvaffaqiyatli o'qildi. SatÄ±rlar soni: {len(df)} ustunlar soni: {len(df.columns)}")
except Exception as e:
    logging.error(f"CSV faylni o'qishda xatolik: {e}")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4993 entries, 0 to 4992
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name_length            4993 non-null   int64
 1   is_organic             4993 non-null   int64
 2   is_sugar_free          4993 non-null   int64
 3   quantity_value         4993 non-null   float64
 4   quantity_unit_encoded  4993 non-null   int64
 5   category_depth         4993 non-null   int64
 6   country_count          4993 non-null   int64
 7   product_age_days       4993 non-null   int64
 8   created_year           4993 non-null   int64
 9   created_month          4993 non-null   int64
 10  main_category_encoded  4993 non-null   int64
 11  nova_group             4993 non-null   float64
dtypes: float64(2), int64(10)
memory usage: 468.2 KB

In [6]:
import sys
import os

# Source papkasini yo'lga qo'shamiz
source_path = os.path.abspath("../Source")
if source_path not in sys.path:
    sys.path.append(source_path)

print("Python executable:", sys.executable)
print("Source path added:", source_path)

# Endi modulni import qilamiz
from preprosessing import Cleaner, Encoder, Scaler

Python executable: c:\Users\Rasulbek907\Desktop\Project_MP\venv\Scripts\python.exe
Source path added: c:\Users\Rasulbek907\Desktop\Project_MP\Source

In [7]:
cleaner = Cleaner(df)
df = cleaner.tozala().get_df()

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4993 entries, 0 to 4992
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name_length            4993 non-null   int64
 1   is_organic             4993 non-null   int64
 2   is_sugar_free          4993 non-null   int64
 3   quantity_value         4993 non-null   float64
 4   quantity_unit_encoded  4993 non-null   int64
 5   category_depth         4993 non-null   int64
 6   country_count          4993 non-null   int64
 7   product_age_days       4993 non-null   int64
 8   created_year           4993 non-null   int64
 9   created_month          4993 non-null   int64
 10  main_category_encoded  4993 non-null   int64
 11  nova_group             4993 non-null   float64
dtypes: float64(2), int64(10)
memory usage: 468.2 KB

In [9]:
encoder = Encoder(df, target_col="nova_group")
df = encoder.encodla().get_df()
print(df.head())

   name_length  is_organic  is_sugar_free  quantity_value  \
0            2           0              0            33.0
1            1           0              0           100.0
2            2           0              0             2.0
3            3           0              0             1.0
4            1           0              0            33.0

   quantity_unit_encoded  category_depth  country_count  product_age_days  \
0                      7               7              1              3671
1                     14               1              2              3326
2                     29               6              1              2590
3                     29               7              1              4068
4                      7               6              1              2365

   created_year  created_month  main_category_encoded  nova_group
0          2015              8                     53     3.28451
1          2016              9                    459     3.00000
2          2018              9                     53     1.00000
3          2014              9                     53     1.00000
4          2019              3                     68     3.28451

In [10]:
# Scaler obyektini yaratamiz
scaler = Scaler(df, target_col="nova_group")

# Skalalashni bajarish
df = scaler.scaling_qil().get_df()

print(df.head())

   name_length  is_organic  is_sugar_free  quantity_value  \
0    -0.691811   -0.121809            0.0       -1.138126
1    -1.162028   -0.121809            0.0       -0.846880
2    -0.691811   -0.121809            0.0       -1.272881
3    -0.221594   -0.121809            0.0       -1.277228
4    -1.162028   -0.121809            0.0       -1.138126

   quantity_unit_encoded  category_depth  country_count  product_age_days  \
0              -1.013055       -0.069824      -0.588663          0.954730
1              -0.425509       -1.835039      -0.180838          0.674675
2               0.833518       -0.364026      -0.588663          0.077223
3               0.833518       -0.069824      -0.588663          1.276997
4              -1.013055       -0.364026      -0.588663         -0.105422

   created_year  created_month  main_category_encoded  nova_group
0     -0.962516       0.590746              -1.202998     3.28451
1     -0.657209       0.890838               1.126987     3.00000
2     -0.046594       0.890838              -1.202998     1.00000
3     -1.267824       0.890838              -1.202998     1.00000
4      0.258713      -0.909710              -1.116914     3.28451

In [12]:
df.head()

,name_length,is_organic,is_sugar_free,quantity_value,quantity_unit_encoded,category_depth,country_count,product_age_days,created_year,created_month,main_category_encoded,nova_group
0,-0.691811,-0.121809,0.0,-1.138126,-1.013055,-0.069824,-0.588663,0.954730,-0.962516,0.590746,-1.202998,3.28451
1,-1.162028,-0.121809,0.0,-0.846880,-0.425509,-1.835039,-0.180838,0.674675,-0.657209,0.890838,1.126987,3.00000
2,-0.691811,-0.121809,0.0,-1.272881,0.833518,-0.364026,-0.588663,0.077223,-0.046594,0.890838,-1.202998,1.00000
3,-0.221594,-0.121809,0.0,-1.277228,0.833518,-0.069824,-0.588663,1.276997,-1.267824,0.890838,-1.202998,1.00000
4,-1.162028,-0.121809,0.0,-1.138126,-1.013055,-0.364026,-0.588663,-0.105422,0.258713,-0.909710,-1.116914,3.28451

In [13]:
df["nova_group"].unique()

array([3.28450954, 3.        , 1.        , 4.        , 2.        ])

In [16]:
df.loc[(df["nova_group"] > 3.28) & (df["nova_group"] < 3.29), "nova_group"] = 5

In [17]:
df["nova_group"].unique()

array([5., 3., 1., 4., 2.])

In [18]:
df.head(10)

,name_length,is_organic,is_sugar_free,quantity_value,quantity_unit_encoded,category_depth,country_count,product_age_days,created_year,created_month,main_category_encoded,nova_group
0,-0.691811,-0.121809,0.0,-1.138126,-1.013055,-0.069824,-0.588663,0.954730,-0.962516,0.590746,-1.202998,5.0
1,-1.162028,-0.121809,0.0,-0.846880,-0.425509,-1.835039,-0.180838,0.674675,-0.657209,0.890838,1.126987,3.0
2,-0.691811,-0.121809,0.0,-1.272881,0.833518,-0.364026,-0.588663,0.077223,-0.046594,0.890838,-1.202998,1.0
3,-0.221594,-0.121809,0.0,-1.277228,0.833518,-0.069824,-0.588663,1.276997,-1.267824,0.890838,-1.202998,1.0
4,-1.162028,-0.121809,0.0,-1.138126,-1.013055,-0.364026,-0.588663,-0.105422,0.258713,-0.909710,-1.116914,5.0
5,-1.162028,-0.121809,0.0,0.674552,1.924675,-0.658229,-0.588663,-1.160703,1.174636,1.491020,-0.594677,3.0
6,-0.221594,-0.121809,0.0,5.238848,1.924675,-0.069824,3.897409,1.871202,-1.878439,0.290655,-1.202998,1.0
7,-0.221594,-0.121809,0.0,-1.277228,0.665648,1.106987,-0.588663,-0.801907,0.869328,-0.009436,-0.594677,3.0
8,-0.221594,-0.121809,0.0,-1.277228,0.833518,-0.069824,0.634811,0.417349,-0.351902,0.290655,-0.594677,1.0
9,-1.162028,-0.121809,0.0,-0.586063,-0.425509,0.224379,-0.180838,-0.545393,0.564021,1.190929,-0.336427,4.0

In [19]:

df.to_csv(r"C:\Users\Rasulbek907\Desktop\Project_MP\Data\Preprosessed\Preprosessed.csv")